@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Mukta:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #385170; 
}

.main-div{
    margin-top: 5vh;
    height: 550px;
    width: 90%;
    border-radius: 20px;
    box-shadow: 2px 2px 24px 2px;
    display: grid;
    grid-template-columns: 1fr 500px 1fr;

}

.grid{
    margin:auto;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/*Buttons*/
.grid > button{
    background-color: #385170; 
    cursor: pointer;
    border: solid 2px black;
    background-attachment: fixed;
    background-position: center;
}

.btn-0, .btn-3, .btn-6{
    border-left: none !important;
}

.btn-0, .btn-1, .btn-2{
    border-top: none !important;
}

.btn-2, .btn-5, .btn-8{
    border-right: none !important;
}

.btn-6, .btn-7, .btn-8{
    border-bottom: none !important;
}

p{
    font-size: 7rem;
}

.Player1{
    color: #ff9a3c;
}

.bottom-nav{
    height: 15vh;
    width: 90%;
    margin-top: 5vh;
    background-color: #0c2233; 
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
}

.bottom-nav > div{
    display: grid;
    grid-template-rows: 20% 30% 30% 20%;
}

.bottom-nav > div > h2{
    margin: auto;
    font-size: 2rem;
    font-family: 'Lora', serif;
    color: #ececec; 
    grid-row: 2;
    
}

.bottom-nav > div > p{
    margin: auto;
    font-size: 2rem;
    font-family: 'Lora', serif;
    color: #ececec; 
    grid-row: 3;
    
}

.left-div{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.turn{
    height: 10%;
    width: 60%;
    background-color: #407088;;
    overflow: hidden;
    margin-top: 15%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:  2rem;
    font-family: 'Lora', serif;
    color: #132743;
}

@media(max-width: 950px){
    .left-div{
        display: none;
    }

    .grid{
        width: 500px;
        margin:auto;
    }

    .right-div{
        display: none;
    }

    .main-div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-height: 750px){
    .grid{
        height: 65vh;
    }
    .main-div{
        height: 70vh;
    }

    *{
        font-size: 0.8rem;
    }
}

@media(max-height: 500px){
    *{
        font-size: 0.5rem;
    }
}

@media(max-width: 450px){
    *{
        font-size: 0.5rem;
    }
}